@use 'mlut' with (
  $jit: (
    "output": "src/assets/style/style.css",
    "content": ["index.html", "src/**/*.js"],
    "minify": true
  ),
);

html {
  --ml-shortTs:0.3s;
  --ml-longTs:0.5s;
	--ml-brand:#f0438c;
}

@media (prefers-color-scheme: light){
  html {
    --ml-core800: #f0f0f1;
    --ml-core700: #fbf9fe;
    --ml-accent800:#707481;
    --ml-accent700: #7c7f8b;
  }
}
@media (prefers-color-scheme: dark){
  html {
    --ml-core800: #111827;
    --ml-core700: #0d1117;
    --ml-accent800:#878c99;
    --ml-accent700: #7f838f;
  }
}